body {
    position: relative;
    height: 700px;
    
}

#header {
    font-family: sans-serif;
    position: absolute;
    top: 100px;
    left: 45%;
}
#container {
    top: 250px;
    position: absolute;
    left: 38%;
    margin: 0 auto;
    height: 500px;
    width: 500px;
    display: grid;
    border: 2px solid black;
    /*background: #eee;*/
    grid-template-columns: repeat(16, 1fr); 
    grid-template-rows: repeat(16, 1fr);
}

/*.grid-square {
    border: 0.25px solid black;
    background: #eee;

}*/

#btn-clear {
    position: absolute;
    top: 220px;
    left: 38%;
    justify-content: center;
    align-items: center;
}
